
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url(fre-sonneveld-q6n8nIrDQHE-unsplash.jpg); 
          background-size: cover;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            
        }

        nav {
            background-color: #eee;
            padding: 10px;
            text-align: center;
        }

        nav a {
            margin: 0 10px;
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #333;
            font-size: large;
        }  
        a.active,a.hover{
            background: #1b9bff;
            transition:.5s;
        }
        label.logo{
            font-size: 55px;
            font-weight:bold;
            color:transparent;
            padding:0 100px;
            line-height: 80px;
            background-image: url(https://media.giphy.com/media/xT1XGZndeDLlWvSDaU/giphy.gif);
            background-position: center;
            -webkit-background-clip: text;
        }
        .container {
            
            
            background-position: center;
            width: auto;
            height: 100vh;
            display: flex;
            flex-direction: column;

            align-items: left;
            margin-left: 200px;
            margin-top: 90px;
            
        }

        .rectangular-box {
            box-sizing: 40px 70px;
            width: 3000px;
            height: 500pxpx;  
            padding: 50px;
            border: 1px solid rgb(115, 0, 255);
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .pay-bill-section input {
            width: 100%;
            margin-bottom: 10px;
            padding: 8px;
            box-sizing: border-box;
        }

        .pay-bill-section button {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

       
        
       