body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-image: url(fre-sonneveld-q6n8nIrDQHE-unsplash.jpg);
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    font-size: large;
}  
label.logo{
    font-size: 55px;
    font-weight:bold;
    color:transparent;
    padding:0 100px;
    line-height: 80px;
    background-image: url(https://media.giphy.com/media/xT1XGZndeDLlWvSDaU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}
a.active,a.hover{
    background: #1b9bff;
    transition:.5s;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}
