body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:url(fre-sonneveld-q6n8nIrDQHE-unsplash.jpg)
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    font-size: large;
}  
a.active,a.hover{
    background: #1b9bff;
    transition:.5s;
}
label.logo{
    font-size: 55px;
    font-weight:bold;
    color:transparent;
    padding:0 100px;
    line-height: 80px;
    background-image: url(https://media.giphy.com/media/xT1XGZndeDLlWvSDaU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

.container {
    background-image: url('profile_background.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}
